html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #212121;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
.navBar {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.navLink {
  color:rgb(4, 16, 27);
  font-size: 20px;
  font-weight: 600;
  margin: 30px;
}

.activeLink {
  color: rgb(59, 39, 170);
}

.sectionTitle {
    color: rgb(64, 12, 88);
    display: flex;
    justify-content: center;
}

.movieName {
    list-style: none;
    margin-left:30px ;
    margin-bottom: 10px;
}

.btnBack {
  color: rgb(36, 59, 82);
  font-size: 16px;
  margin: 40px;
}

.inputSearch {
  width: 300px;
  font: inherit;
  font-size: 20px;
}

.btnSearch:hover {
  opacity: 1;
}

.btnSearch {
  display: inline-block;
    width: 30px;
    height: 30px;
    border: 0;
    background-image: url(https://image.flaticon.com/icons/svg/149/149852.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
  cursor: pointer;
}